#contact {
    background-image:  linear-gradient(to bottom right, rgba($themeClrPrimary, 0.3),
    rgba($themeClrPrimary, 0)), url('../assets/img/svg/AnimatedShape.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}