#projects {

    a {
        text-decoration: none;
        
        &.btn {
            transition: .3s;
            
            &:hover {
                animation: pulse 1s infinite;
                transition: .3s;    
            }
        }
        & i {
            color: $themeClrPrimary;
            transition: .3s;
            
            &:hover {
                animation: pulse 1s infinite;
                transition: .3s;    
            }
        }
    }
}